bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/nuget_output/

# JetBrains Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
*.snupkg

# Build results
TestResults/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini